html{
    height: 100vh;
    width: 100vw;
}

body {
  background-image: linear-gradient(to right, #033b10, #97a871);;
  height: 100vh;
  margin-top: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  
} 

img{
  height: 4rem;
  width: 10rem;
}

.nameColumn{
  flex-direction: column;
  display: flex;
  align-items: center;

}



.nowlaterbuttons{
  align-items: center;
  justify-content: center;
  display: flex;
}

 

 h1{
  margin-top: 1rem;
  margin-bottom: 0rem;
 }
 
  
  html, body {
    margin: 0;
    padding: 0;
  }
  
  .submit{
    width:25%;
  }
  
  

.container{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: grid;
    align-items: center;
    justify-items: center;
}





.title{
  font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: white;
  width: 27.5rem;
  font-size: 3rem;
  text-align: center;
  position: relative;
  align-self: center;
  margin-top: 2rem;

}


/* CSS */
.button-56 {
  align-items: center;
  font-family: "Parkinsans", sans-serif;
  background-color: #ffffff;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  margin: 1rem;
  cursor: pointer;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

}

.button-56:after{
  background-color: #111;
  border-radius: 8px;
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #464646;
  outline: 0;
}


.button-56:hover {
  outline: 0;
}








.bikecontainer{
width: 100vw;
height: 40vh;
margin: 0;
}

.bike{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.randnrides{
    font-family: "Parkinsans", sans-serif;
    font-optical-sizing: auto;
    font-weight:100;
    height: 40vh;
    color: white;
    font-size: 1rem;
    width: 100vw;
    text-align: center;
    margin-top: 0;
}



.frame {
  position: relative;
  width: 250px;
  height: 200px;
  align-items: center;
  color: white;

}


.wheel {
  border: solid 2px white;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 1s linear infinite wheelmovement;
}

.wheel__left {
  position: absolute;
  bottom: 0;
  left: 0;
}

.wheel__right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.spoke {
  width: 50px;
  height: 2px;
  position: absolute;
  background: white;
}

.spoke__left--1 {
  transform: rotate(60deg);
  top: 26px;
  left: 12px;
}

.spoke__left--2 {
  transform: rotate(60deg);
  top: 72px;
  left: 38px;
}

.spoke__right--1 {
  transform: rotate(60deg);
  top: 26px;
  left: 12px;
}

.spoke__right--2 {
  transform: rotate(60deg);
  top: 72px;
  left: 38px;
}

.hub {
  background: white;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}

@keyframes wheelmovement {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

.fork {
  position: absolute;
  top: 50px;
  right: 68px;
  background: white;
  height: 100px;
  width: 3px;
  transform: rotateZ(340deg);
}

.chainring {
  position: absolute;
  bottom: 20px;
  left: 85px;
  height: 40px;
  width: 40px;
  border: solid 3px white;
  border-radius: 50%;
}

.down-tube {
  position: absolute;
  bottom: 30px;
  right: 108px;
  background: white;
  height: 103px;
  width: 4px;
  transform: rotateZ(40deg);
}

.top-tube {
  position: absolute;
  top: 78px;
  left: 77px;
  background: white;
  height: 4px;
  width: 95px;
}

.seat-tube {
  position: absolute;
  top: 52px;
  left: 87px;
  background: white;
  width: 4px;
  height: 110px;
  transform: rotateZ(160deg);
}

.seat-stay {
  position: absolute;
  top: 75px;
  left: 64px;
  background: white;
  width: 3px;
  height: 75px;
  transform: rotateZ(200deg);
}

.chain-stay {
  position: absolute;
  bottom: 18px;
  left: 78px;
  background: white;
  width: 3px;
  height: 60px;
  transform: rotateZ(100deg);
}

.chain__upper {
  position: absolute;
  bottom: 29px;
  left: 78px;
  background: white;
  width: 2px;
  height: 60px;
  transform: rotateZ(80deg);
}

.chain__bottom {
  position: absolute;
  bottom: 6px;
  left: 78px;
  background: white;
  width: 2px;
  height: 60px;
  transform: rotateZ(120deg);
}

.saddle {
  position: absolute;
  top: 50px;
  left: 55px;
  background: white;
  width: 40px;
  height: 10px;
  border-radius: 60% 100% 800% 100%;
}

.handlebars {
  position: absolute;
  top: 52px;
  right: 54px;
  border: solid 3px white;
  border-left: transparent;
  width: 30px;
  height: 25px;
  border-radius: 60% 1000% 500% 300%; 
}


@media screen and (max-width:450px)  {
  .title{
  font-size: 10vw;
  width: 18rem;
  }
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}
